/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');


body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #242d42;
  font-family: "Inria Sans", Times, serif !important;
}

.py-terminal {
  position: absolute;
  left: -100rem;
}

.py-repl-editor {
  /* background-color: whitesmoke !important; */
  border-radius: 8px !important;
  padding: 1rem;
}
.py-repl-box {
  border-radius: 8px !important;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.container {
  font-family: 'Inria Sans', Times, serif !important;
}