@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #3f4f6b;
}